W pliku **dane.csv** znajdziesz dane kilku uczniów: imię, nazwisko, płeć, rok urodzenia, lista ocen.

Utwórz **jeden** plik `dane.pdf`, w którym każdy z uczniów będzie przedstawiony na osobnej stronie:

```
[Uczennica/Uczeń - wybierz jedno, na podstawie kolumny "płeć"] Imię i nazwisko - nagłówek
Rok urodzenia - normalny tekst

Oceny: - mniejszy nagłówek
Język Polski - 6
Język Angielski - 5
...
```

In [21]:
import pandas as pd

from reportlab.platypus import SimpleDocTemplate, Paragraph, PageBreak, Spacer
from reportlab.platypus.paragraph import ParagraphStyle
from reportlab.lib.pagesizes import A4
from reportlab.lib.styles import getSampleStyleSheet
from reportlab.pdfbase import pdfmetrics
from reportlab.pdfbase.ttfonts import TTFont

# utwórz dokument
doc = SimpleDocTemplate('oceny.pdf', pagesize=A4, rightMargin=72,
                        leftMargin=72, topMargin=72, bottomMargin=18)

pdfmetrics.registerFont(TTFont('Arial', 'arial.ttf'))
h1 = ParagraphStyle('myheading', parent=styles['Heading3'], fontName='Arial')
title = ParagraphStyle('mytitle', parent=styles['Title'], fontName='Arial')
# wczytaj style
styles = getSampleStyleSheet()


Story = []

def generate_student(row):
    student = f'{row["Imię"]} {row["Nazwisko"]}'
    Story.append(Paragraph(student, title))
    Story.append(Spacer(1,20))
    
    Story.append(Paragraph("Oceny:", h1))
    Story.append(Spacer(1,20))
    
    for column in df.columns.values[4:]:
        Story.append(Paragraph(f'{column} - {row[column]}', h1))
    
    Story.append(PageBreak())


df = pd.read_csv('oceny.csv')
df.apply(generate_student, axis=1)


doc.build(Story)

In [19]:
df

,Imię,Nazwisko,Płeć,Rok urodzenia,Język Polski,Język Angielski,Język Niemiecki,Matematyka,Chemia,Fizyka,Biologia,Historia,Geografia
0,Karolina,Nowik,K,1990,5,6,5,3,4,4,5,5,4
1,Marcin,Drogosz,M,1990,3,4,3,6,5,5,3,3,5
2,Karol,Kowalski,M,1993,5,5,5,4,3,3,4,5,4
3,Agnieszka,Krupa,K,1993,5,5,4,6,6,5,3,5,4
4,Mariola,Tomala,K,1993,4,5,4,6,4,6,4,4,3